#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<script type="text/template" id="${artifactId}scontainer">
<div id="${artifactId}Div" style="margin-left:20px; float: left;">
    <h3>Devices</h3>
    <table class="pure-table pure-table-bordered">
    <thead>
        <tr>
        <th>Node ID</th>
        <th>Type</th>
        <th>Properties</th>
        </tr>
    </thead>
    <tbody>
    <% _.each(${artifactId}s, function(${artifactId}) { %>
        <tr data-nodeType="<%= ${artifactId}.node.type%>" data-nodeId="<%= ${artifactId}.node.id%>" style="cursor:pointer;">
            <td><%= ${artifactId}.node.id %></td>
            <td><%= ${artifactId}.node.type %></td>
            <td>
                <div>Mac Address: <%= ${artifactId}.properties.macAddress.value %></div>
                <div>Description: <%= ${artifactId}.properties.description.value %></div>
                <div>Mac Address: <%= ${artifactId}.properties.macAddress.value %></div>
            </td>
        </tr>
    <% }); %>
    </tbody>
    </table>

</div>
</script>
