<script type="text/template" id="simpleContainer">
  <div id="simpleDiv" style="margin-left:20px; float: left;">
    <h3>${artifactId} Application</h3>
    <table id="simpleTable" class="pure-table pure-table-bordered">
      <thead>
        <tr>
          <th>UUID</th>
          <th>Foo</th>
          <th>Bar</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(simple, function(simpleton) { %>
          <tr data-id="<%= simpleton.id %>">
            <td><%= simpleton.attributes.uuid %></td>
            <td><%= simpleton.attributes.foo %></td>
            <td><%= simpleton.attributes.bar %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <fieldset>
      <legend>${artifactId} Form</legend>
      <label for="simpleFooInput">Foo:</label>
      <input type="text" id="simpleFooInput" />
      <label for="simpleBarInput">Bar:</label>
      <input type="text" id="simpleBarInput" />
      <div id="simpleContainer">
        <button id="simpleButton" class="pure-button button-success">Submit</button>
        <button id="simpleRemoveButton" class="pure-button button-error">Remove</button>
        <button class="pure-button">Cancel</button>
      </div>
    </fieldset>
  </div>
</script>
