#phoenix-overlay {
  font-size: 0.7em;
  position: absolute;
  height: 15px;
  top: -15px;
  right: 0;
  left: 0;
  -webkit-transition: -webkit-top 1s;
  transition: top 1s;
}

#phoenix-overlay:hover {
  top: 0;
}

#phoenix-brand {
  width: 250px;
  height: 30px;
  background: #ddd;
  position: absolute;
  top: 0;
  left: 10px;
}

#phoenix-menu {
  width: 100%;
  height: 15px;
  display: block;
  text-align: center;
  background: #ddd;
}

#phoenix-menu > ul > li > a {
  padding: 0 10px;
}

#phoenix-menu > ul > .pure-menu-selected {
}

#phoenix-menu > ul > .pure-menu-selected:hover {
}

#phoenix-menu > ul > .pure-menu-selected > a {
  cursor: default;
}

#phoenix-menu > ul > .pure-menu-selected > a:hover {
  background: transparent;
}
