#menu {
  width: 100%;
  display: block;
  text-align: center;
}

#menu > ul > .pure-menu-selected {
}

#menu > ul > .pure-menu-selected:hover {
}

#menu > ul > .pure-menu-selected > a {
  cursor: default;
}

#menu > ul > .pure-menu-selected > a:hover {
  background: transparent;
}
